<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mundo" class="com.killerwilmer.beans.Mundo">
		<property name="saludo" value="Hola Mundo!"></property>
	</bean>

	<bean id="persona" class="com.killerwilmer.beans.Persona" autowire="byName" scope="singleton" lazy-init="true"><!-- singleton hace referencia al mismo objeto y esta por default -->
		<property name="id" value="1"></property>																<!-- lazy-init solo es aplicable para singleton y hay que cargar bean por bean -->
		<property name="nombre" value="Wilmer"></property>
		<property name="apodo" value="Killerwilmer"></property>
	</bean>

	<bean id="pais" class="com.killerwilmer.beans.Pais">
		<property name="nombre" value="Colombia"></property>
	</bean>

	<bean id="ciudad" class="com.killerwilmer.beans.Ciudad">
		<property name="nombre" value="Bogotá"></property>
	</bean>

</beans>
